<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="https:\\www.lgmmc.tk\\-----https:\\www.cnblogs.com\\wkfvawl\\p\\15262653.html">复用网址</a>
<form enctype="multipart/form-data" action="{% url 'uploadfile' %}" method="post">
    {% csrf_token %}
    <input type="file" name="myfile"/> <br/>
    <input type="submit" value="上传"/>
</form>

<div class="info">
    <p>https://www.hengxun.cn/news/content/208.html<span
            style="color: rgb(255, 0, 0);"><strong>海外服务器</strong></span>搭建自己私人VPN。</p>
    <p><br></p>
    <p>首先这个方法不是免费的哦</p>
    <p>第一步：你需要有一台国外的服务器，或者香港服务器也可以；云服务平台有很多，如果只是单纯的搭建VPN，可以买便宜的服务器。</p>
    <p><br></p>
    <p>第二步：服务器配置，安装ShadowsocksServer</p>
    <p>1、执行如下命令</p>
    <p>
        wget--no-check-certificate-Oshadowsocks-all.shhttps://raw.githubusercontent.com/teddysun/shadowsocks_install/master/shadowsocks-all.sh</p>
    <p>2、上面的命令执行结束后，执行下面的命令</p>
    <p>chmod+xshadowsocks-all.sh</p>
    <p>3、上面的命令执行结束后，执行下面的命令</p>
    <p>./shadowsocks-all.sh2&gt;&amp;1|teeshadowsocks-all.log</p>
    <p>
        4、执行上述命令会有相关输入提示操作；根据需要选择。不明白的话就直接选1或者直接默认回车；之后会提示你输入密码和端口，对应设置即可，或者直接使用默认的；由于iPhone端的wingy目前只支持到cfb，所以加密方式选择aes-256-cfb也就是选择7；全部执行完成之后就会出现如下信息：</p>
    <p>StartingShadowsockssuccess</p>
    <p>Congratulations,Shadowsocks-Pythonserverinstallcompleted!</p>
    <p>YourServerIP:你的IP</p>
    <p>YourServerPort:在第四步提示设置的端口号</p>
    <p>YourPassword:在第四步提示设置的密码</p>
    <p>YourEncryptionMethod:aes-256-cfb</p>
    <p>YourQRCode:(ForShadowsocksWindows,OSX,AndroidandiOSclients)</p>
    <p>ss://YWVzLTI1Ni1jZmI6emh1aTA4MTA0MTJaaaccuMjmmLjU1LjE5MTo4tdVg4</p>
    <p>YourQRCodehasbeensavedasaPNGfilepath:</p>
    <p>/root/shadowsocks_python_qr.png</p>
    <p>Welcometovisit:https://teddysun.com/486.html</p>
    <p>Enjoyit!</p>
    <p>5、看到以上信息就说明安装完成了，然后根据不同的终端设备进行设置就可以了</p>
    <p>第三步、使用Shadowsocks终端体验VPN</p>
    <p>1、下载对应客户端</p>
    <p>Windows：https://github.com/shadowsocks/shadowsocks-windows/releases</p>
    <p>Mac：https://github.com/yangfeicheung/Shadowsocks-X/releases</p>
    <p>Android：https://github.com/shadowsocks/shadowsocks-android/releases</p>
    <p>iPhone：AppStore上下载ShadowLink，这个要用国外appid才可以下载哦。国内的搜不到的，因为shadowrocket收费的</p>
    <p>2、配置Shadowsocks</p>
    <p>windows</p>
    <p>下载之后运行就会看到右下角有小飞机，然后右键编辑服务器；对应的服务器地址、端口、密码、加密方式就是第二步中4步骤中看到的信息，对应填写确定即可；</p>
    <!--    {% load static %}-->
    <p style="text-align:center"><img data-src="{% static 'img/5fb7618787525.jpg' %}" src="img/0.png" title="5fb7618787525.jpg"
                                      alt="国外服务器.jpg"></p>
<!--    <p style="text-align:center"><img data-src="{% static 'img/5fb7618787525.jpg' %}" src="img/0.png" title="5fb7618787525.jpg"-->
<!--                                      alt="国外服务器.jpg"></p>-->
    <!--    <p style="text-align:center"><img src="../../static/img/5fb7618787525.jpg" title="5fb7618787525.jpg"-->
    <!--                                      alt="国外服务器.jpg"></p>-->
    <p>见证奇迹的时刻到了浏览器打开https://www.google.com/</p>
    <p>&nbsp;</p>
    <p style="text-align:center"><img data-src="{% static 'img/5fb761aadc803.png' %}" src="img/0.png" title="5fb761aadc803.png"
                                      alt="VPN.png"></p>
    <!--    <p style="text-align:center"><img src="../../static/img/5fb761aadc803.png" title="5fb761aadc803.png"-->
    <!--                                      alt="VPN.png"></p>-->
    <p><br></p>
    <p>android手机</p>
    <p>安装好上面对应的客户端如下图左边的填写对应的服务ip、端口、密码、加密方式然后保存；然后点击中间图下面的小飞机，看到手机上面有个钥匙的就是成功了，然后你就可以用浏览器访问Google嘞</p>
    <p><br></p>
    <p style="text-align:center"><img data-src="{% static 'img/5fb762d9aa58d.jpg' %}" src="img/0.png" title="5fb762d9aa58d.jpg"
                                      alt="用国外服务器搭建来自己的VPN详细教程.jpg"></p>
    <p style="text-align:center"><img data-src="{% static 'img/5fb76207d5d09.jpg' %}" src="img/0.png" title="5fb76207d5d09.jpg"
                                      alt="用国外服务器搭建VPN.jpg"></p>
    <p style="text-align:center"><img data-src="{% static 'img/5fb76214a013e.jpg' %}" src="img/0.png" title="5fb76214a013e.jpg"
                                      alt="用国外服务器搭建来自己的VPN详细过程.jpg"></p>
    <!--    <p style="text-align:center"><img src="../../static/img/5fb762d9aa58d.jpg" title="5fb762d9aa58d.jpg"-->
    <!--                                      alt="用国外服务器搭建来自己的VPN详细教程.jpg"></p>-->
    <!--    <p style="text-align:center"><img src="../../static/img/5fb76207d5d09.jpg" title="5fb76207d5d09.jpg"-->
    <!--                                      alt="用国外服务器搭建VPN.jpg"></p>-->
    <!--    <p style="text-align:center"><img src="../../static/img/5fb76214a013e.jpg" title="5fb76214a013e.jpg"-->
    <!--                                      alt="用国外服务器搭建来自己的VPN详细过程.jpg"></p>-->
    <p>iphone手机</p>
    <p>安装好上面对应的客户端如左边图点击添加线路，然后是中间图填写对应的服务ip、端口、密码、加密方式然后保存，之后点击左图的开关按钮；看到手机上出现vpn的图标就成功了，可以随心所欲看视频了。</p>
    <p><br></p>
    <p style="text-align:center"><img data-src="{% static 'img/5fb761cd13b89.jpg' %}" src="img/0.png" title="5fb761cd13b89.jpg"
                                      alt="国外服务器--恒讯科技.jpg"></p>
    <!--    <p style="text-align:center"><img src="../../static/img/5fb761cd13b89.jpg" title="5fb761cd13b89.jpg"-->
    <!--                                      alt="国外服务器&#45;&#45;恒讯科技.jpg"></p>-->
    <p><br></p>
    <p>以上就是全部步骤了，赶快去制作属于你们自己的梯子吧！（声明：教程仅供参考；请勿用于任何违法行为；）</p>
    <p><br></p></div>
<script>
    images = document.getElementsByTagName("img");

    function callback(entries) {
        for (let i of entries) {
            if (i.isIntersecting) {
                let img = i.target;
                let trueSrc = img.getAttribute("data-src");  //这里用img的另一个属性，用另一个src代替一开始设置的src
                img.setAttribute("src", trueSrc);
                observer.unobserve(img);
            }
        }
    }

    const observer = new IntersectionObserver(callback);
    for (let i of images) {
        observer.observe(i);
    }
</script>
</body>
</html>
